
@{
    ViewBag.Title = "Contact";
}


<style>

    .links a {
        float: left;
        color: #1d110e;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
        font-size: 15px;
    }

        .links a:hover {
            background-color: #ddd;
            color: black;
        }

        .links a.active {
            background-color: #04AA6D;
            color: white;
        }
</style>

<body>
    <fieldset>
        <div id="myName" style="font-family: Georgia;">
            <h1 style="margin-bottom: 5px;  font-size: 40px;">Foysal Ahamed Nirob</h1>
            <i style="margin-bottom: 5px;  font-size: 15px;">email: neeerob.ahmed@gmail.com</i>
            <p>Phone: 01826061576</p>
            <hr />
            <dev class="links">
                <p style="text-align: center; ">
                    <a href="~/myCV/PersonalInfo">Personal Information</a>
                    <a href="~/myCV/Education">Education</a>
                    <a href="~/myCV/Project">Projects</a>
                    <a class="active" href="~/myCV/Contact">Contacts</a>
                </p>
            </dev>
            <br /><br><hr />
            <b><p style=" text-align: center;">email: neeerob.ahmed@gmail.com<br />
            phone: 01826061565<br />
            <a href="www.facebook.com/neeer.oob">facebook</a><br />
            <a href="www.github.com/neeerob">github</a>
            </p></b>
            

        </div>
    </fieldset>
</body>

