
@{
    ViewBag.Title = "Education";
}

<style>

    .links a {
        float: left;
        color: #1d110e;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
        font-size: 15px;
    }

        .links a:hover {
            background-color: #ddd;
            color: black;
        }

        .links a.active {
            background-color: #04AA6D;
            color: white;
        }
</style>

<body>
    <fieldset>
        <div id="myName" style="font-family: Georgia;">
            <h1 style="margin-bottom: 5px;  font-size: 40px;">Foysal Ahamed Nirob</h1>
            <i style="margin-bottom: 5px;  font-size: 15px;">email: neeerob.ahmed@gmail.com</i>
            <p>Phone: 01826061576</p>
            <hr />
            <dev class="links">
                <p style="text-align: center; ">
                    <a href="~/myCV/PersonalInfo">Personal Information</a>
                    <a class="active" href="~/myCV/Education">Education</a>
                    <a href="~/myCV/Project">Projects</a>
                    <a href="~/myCV/Contact">Contacts</a>
                </p>
            </dev>
            <br /><br><hr />
            <p style="font-size: 20px; text-align: left; ">Educational Background</p><hr />
            <b>BSc in Computer Science and Engineering (CSE)</b><br />
            CGPA 3.85 out of 4.00<br />
            Department of Computer Science & Engineering<br />
            School of Engineering<br />
            Passing Year: 2022<br />
            University: American International University Bangladesh (AIUB)<br /><br />

            <b>Higher Secondary School Certificate (HSC)</b><br />
            GPA 4.50 out of 5.00<br />
            Science Group<br />
            Passing Year: 2016<br />
            College: Giysauddin Islamic Model School And College(GIMC)<br /><br />

            <b>Secondary School Certificate (SSC)</b><br />
            GPA 4.72 out of 5.00<br />
            Science Group<br />
            Passing Year 2015<br />
            School: Siddhirgonj Raboty Mohon Pilot High School and College<br />

        </div>
    </fieldset>
</body>

