
@{
    ViewBag.Title = "Project";
}

<style>

    .links a {
        float: left;
        color: #1d110e;
        text-align: center;
        padding: 8px 10px;
        text-decoration: none;
        font-size: 15px;
    }

        .links a:hover {
            background-color: #ddd;
            color: black;
        }

        .links a.active {
            background-color: #04AA6D;
            color: white;
        }
        .links a.active1 {
            background-color: #ab62f0;
            
        }
        .active1 a:hover {
            background-color: black;
            color: black;
        }

</style>

<body>
    <fieldset>
        <div id="myName" style="font-family: Georgia;">
            <h1 style="margin-bottom: 5px;  font-size: 40px;">Foysal Ahamed Nirob</h1>
            <i style="margin-bottom: 5px;  font-size: 15px;">email: neeerob.ahmed@gmail.com</i>
            <p>Phone: 01826061576</p>
            <hr />
            <dev class="links">
                <p style="text-align: center; ">
                    <a href="~/myCV/PersonalInfo">Personal Information</a>
                    <a href="~/myCV/Education">Education</a>
                    <a class="active" href="~/myCV/Project">Projects</a>
                    <a href="~/myCV/Contact">Contacts</a>
                </p>
            </dev>
            <br /><br><hr />
            <dev style=" text-align: left;">
                <h3>Grace Hospital</h3>
                <p>
                    An <b>Hospital Management System</b> using Raw HTML, CSS, PHP, MySQL, and JavaScript.
                </p>
                <div>
                    PHP HTML5 JS CSS MySQL
                </div>
                <div>
                    <p>
                        <dev class="links">
                            <a class="active1" href="https://github.com/neeerob/Grace_Hospital" target="_blank" rel="noreferrer">
                                Github Link
                            </a>
                        </dev>
                    </p>
                </div>
            </dev>
            <br />
            <hr />
            <dev style=" text-align: left;">
                <h3>Market 101</h3>
                <p>
                    An <b>Market Management System</b> using C#, database, MySQL, dotnet and winform-app.
                </p>
                <div>
                    C# database MySQL winform-app
                </div>
                <div>
                    <p>
                        <dev class="links">
                            <a class="active1" href="https://github.com/neeerob/Market_101" target="_blank" rel="noreferrer">
                                Github Link
                            </a>
                        </dev>
                    </p>
                </div>
            </dev>
            <br />
            <hr />
            <dev style=" text-align: left;">
                <h3>Dokan</h3>
                <p>
                    An <b>Market Management System</b> using JAVA.
                </p>
                <div>
                    JAVA OOP
                </div>
                <div>
                    <p>
                        <dev class="links">
                            <a class="active1" href="https://github.com/neeerob/Java-Final_Term_Assignment" target="_blank" rel="noreferrer">
                                Github Link
                            </a>
                        </dev>
                    </p>
                </div>
            </dev>
            <br />
            <hr />
            <dev style=" text-align: left;">
                <h3>Collatz Conjecture</h3>
                <p>
                    An <b>Mathmatic itteration finder</b> using C++.
                </p>
                <div>
                    C++ Graph 
                </div>
                <div>
                    <p>
                        <dev class="links">
                            <a class="active1" href="https://github.com/neeerob/CollatzConjecture" target="_blank" rel="noreferrer">
                                Github Link
                            </a>
                        </dev>
                    </p>
                </div>
            </dev>
        </div>
    </fieldset>
</body>

